################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs*
/CSVCrawlerProject/bin/*
/CSVCrawlerProject/CustomLog/*
/CSVCrawlerProject/obj/*
/CSVCrawlerProject/SampleInput*
/CSVCrawlerProject/FinalOutput*